---
name: LaTeX

on: [push]

permissions: read-all

jobs:
  build_latex:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Set up Git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: effective-keyboard-shortcuts-cheat-sheet.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: effective-keyboard-shortcuts-cheat-sheet.tex
