---
name: LaTeX

on: [push]

permissions: read-all

jobs:
  build_latex:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Set up Git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@25080975331dc4fc8e6f1af55788e00f84f51fff # v4
        with:
          root_file: effective-keyboard-shortcuts-cheat-sheet.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: PDF
          path: effective-keyboard-shortcuts-cheat-sheet.tex
